@use "../Utils/" as *;

.nutrition_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 613px;
    width: 258px;
    color: $secondary-color;
}


// Import des variables CSS pour les couleurs des icones des cards
.red {
    background-color: rgba(255, 0, 0, 0.1);
}

.blue {
    background-color: rgba(74, 184, 255, 0.1);
}

.yellow {
    background-color: rgba(249, 206, 35, 0.1);
}

.pink {
    background-color: rgba(253, 81, 129, 0.1);
}

.nutrition-card {
    display: flex;
    width: 258px;
    height: 124px;
    border-radius: 5px;
    background: $tertiary-color;

    &:hover {
        cursor: pointer;
        // J'utilise les variables CSS pour les couleurs de hover et de box-shadow
        -webkit-box-shadow: 0px 0px 25px 0px var(--hover-color);
        -moz-box-shadow: 0px 0px 25px 0px var(--hover-color);
        box-shadow: 0px 0px 25px 0px var(--hover-color);
    }
}

.nutrition-card-infos {
    display: flex;
    align-items: center;
    margin: auto;
    width: 175px;
    height: 60px;

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 5px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 24px;
    }
}

.amount-unit {
    @include font(20px, 700);
    color: $secondary-color;
}

.type-name {
    @include font(14px, 500);
    color: $gray-font-color;
}